<<<<<<< HEAD
@media screen and (min-width: 320px){.mt{top:0}.blog.logged_in .blog-container{height:calc(100vh)}.blog-container .col{display:block}.blog-container .col .post-carousel{height:calc(100vh - 68.2031px);position:relative}.blog-container .col .post-carousel .owl-nav button{position:absolute;top:calc(50% - 13px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.blog-container .col .post-carousel .owl-nav button img{width:20px;opacity:0.6;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .post-carousel .owl-nav button.owl-prev{left:10px;-webkit-transform:rotateZ(180deg);transform:rotateZ(180deg)}.blog-container .col .post-carousel .owl-nav button.owl-next{right:10px}.blog-container .col .post-carousel .owl-nav button:hover{background-color:transparent}.blog-container .col .post-carousel .owl-nav button:hover img{opacity:1}.blog-container .col .post-carousel .owl-dots{position:absolute;bottom:0;width:100%}.blog-container .col .post-carousel .owl-dots button span{background:transparent;border:1px solid white}.blog-container .col .post-carousel .owl-dots button.active span{background:#fff}.blog-container .col .post-carousel .item{height:calc(100vh);background-position:center;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.blog-container .col .post-carousel .item .overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.55);mix-blend-mode:darken;-webkit-box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.7);box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.7)}.blog-container .col .post-carousel .item .content{position:relative}.blog-container .col .post-carousel .item .content .title{width:80%;font-size:40px;line-height:40px;text-align:center;margin:0 auto;font-weight:bold;color:white}.blog-container .col .post-carousel .item .content .vermas{margin:0 auto;margin-top:10px;padding:7px 10px;padding-right:15px;width:120px;border:1px solid white;text-align:center}.blog-container .col .post-carousel .item .content .vermas a{color:white;text-transform:uppercase;font-weight:bold;font-size:12px}.blog-container .col .post-carousel .item .content .vermas span{position:relative}.blog-container .col .post-carousel .item .content .vermas span:before{content:'';width:7px;height:9px;background-image:url(../img/arrow.png);background-size:cover;position:absolute;top:4px;right:-12px;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .post-carousel .item .content .vermas span:hover:before{right:-15px}.blog-container .col .grid{display:-webkit-box;display:-ms-flexbox;display:flex;height:calc(100vh);width:100%;background-color:#000;-ms-flex-wrap:wrap;flex-wrap:wrap}.blog-container .col .grid .item{-webkit-box-flex:1;-ms-flex:1 0 50%;flex:1 0 50%;position:relative;padding:1.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;background-size:cover;background-position:center;-webkit-box-sizing:border-box;box-sizing:border-box}.blog-container .col .grid .item .overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);mix-blend-mode:darken}.blog-container .col .grid .item .content{position:relative;color:white}.blog-container .col .grid .item .content .title{font-weight:bold;font-size:20px;line-height:20px;width:70%}.blog-container .col .grid .item .content .vermas{position:relative;width:70px;height:19px;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-sizing:border-box;box-sizing:border-box;margin-top:10px}.blog-container .col .grid .item .content .vermas a{font-size:13px;color:white;text-transform:uppercase;font-weight:bold}.blog-container .col .grid .item .content .vermas:before{content:'';width:8px;height:11px;background-image:url(../img/arrow.png);background-size:cover;position:absolute;top:3px;right:5px;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .grid .item .content .vermas:hover:before{right:3px}}@media screen and (min-width: 768px){.mt{top:0}.blog.logged_in .blog-container{height:calc(100vh)}.blog-container .col .post-carousel{height:calc(50vh);position:relative}.blog-container .col .post-carousel .owl-nav button{position:absolute;top:calc(50% - 13px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.blog-container .col .post-carousel .owl-nav button img{width:20px;opacity:0.6;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .post-carousel .owl-nav button.owl-prev{left:10px;-webkit-transform:rotateZ(180deg);transform:rotateZ(180deg)}.blog-container .col .post-carousel .owl-nav button.owl-next{right:10px}.blog-container .col .post-carousel .owl-nav button:hover{background-color:transparent}.blog-container .col .post-carousel .owl-nav button:hover img{opacity:1}.blog-container .col .post-carousel .owl-dots{position:absolute;bottom:0;width:100%}.blog-container .col .post-carousel .owl-dots button span{background:transparent;border:1px solid white}.blog-container .col .post-carousel .owl-dots button.active span{background:#fff}.blog-container .col .post-carousel .item{height:calc(50vh);background-position:center;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.blog-container .col .post-carousel .item .overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.55);mix-blend-mode:darken;-webkit-box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.7);box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.7)}.blog-container .col .post-carousel .item .content{position:relative}.blog-container .col .post-carousel .item .content .title{width:80%;font-size:40px;line-height:40px;text-align:center;margin:0 auto;font-weight:bold;color:white}.blog-container .col .post-carousel .item .content .vermas{margin:0 auto;margin-top:10px;padding:7px 10px;padding-right:15px;width:120px;border:1px solid white;text-align:center}.blog-container .col .post-carousel .item .content .vermas a{color:white;text-transform:uppercase;font-weight:bold;font-size:12px}.blog-container .col .post-carousel .item .content .vermas span{position:relative}.blog-container .col .post-carousel .item .content .vermas span:before{content:'';width:7px;height:9px;background-image:url(../img/arrow.png);background-size:cover;position:absolute;top:4px;right:-12px;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .post-carousel .item .content .vermas span:hover:before{right:-15px}.blog-container .col .grid{display:-webkit-box;display:-ms-flexbox;display:flex;height:calc(50vh);width:100%;background-color:#000;-ms-flex-wrap:wrap;flex-wrap:wrap}.blog-container .col .grid .item{-webkit-box-flex:1;-ms-flex:1 0 50%;flex:1 0 50%;position:relative;padding:1.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;background-size:cover;background-position:center;-webkit-box-sizing:border-box;box-sizing:border-box}.blog-container .col .grid .item .overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);mix-blend-mode:darken}.blog-container .col .grid .item .content{position:relative;color:white}.blog-container .col .grid .item .content .title{font-weight:bold;font-size:20px;line-height:20px;width:70%}.blog-container .col .grid .item .content .vermas{position:relative;width:70px;height:19px;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-sizing:border-box;box-sizing:border-box;margin-top:10px}.blog-container .col .grid .item .content .vermas a{font-size:13px;color:white;text-transform:uppercase;font-weight:bold}.blog-container .col .grid .item .content .vermas:before{content:'';width:8px;height:11px;background-image:url(../img/arrow.png);background-size:cover;position:absolute;top:3px;right:5px;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .grid .item .content .vermas:hover:before{right:3px}}@media screen and (min-width: 1280px){header{position:relative;background:#00cae2;background:-webkit-gradient(linear, left bottom, left top, color-stop(4%, #00cae2), color-stop(60%, #00aad0), to(#00aad0));background:linear-gradient(0deg, #00cae2 4%, #00aad0 60%, #00aad0 100%)}.logged_in .mt{top:0px}.blog-container{display:-webkit-box;display:-ms-flexbox;display:flex;height:calc(100vh - 155px - 68.2px - 30px)}.blog-container .col{width:50%}.blog-container .col .post-carousel{height:calc(100vh - 155px - 68.2px - 30px);position:relative}.blog-container .col .post-carousel .owl-nav button{position:absolute;top:calc(50% - 13px);display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.blog-container .col .post-carousel .owl-nav button img{width:20px;opacity:0.6;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .post-carousel .owl-nav button.owl-prev{left:10px;-webkit-transform:rotateZ(180deg);transform:rotateZ(180deg)}.blog-container .col .post-carousel .owl-nav button.owl-next{right:10px}.blog-container .col .post-carousel .owl-nav button:hover{background-color:transparent}.blog-container .col .post-carousel .owl-nav button:hover img{opacity:1}.blog-container .col .post-carousel .owl-dots{position:absolute;bottom:0;width:100%}.blog-container .col .post-carousel .owl-dots button span{background:transparent;border:1px solid white}.blog-container .col .post-carousel .owl-dots button.active span{background:#fff}.blog-container .col .post-carousel .item{height:calc(100vh - 155px - 68.2px - 30px);background-position:center;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.blog-container .col .post-carousel .item .overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.55);mix-blend-mode:darken;-webkit-box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.7);box-shadow:inset 0px 0px 20px 5px rgba(0,0,0,0.7)}.blog-container .col .post-carousel .item .content{position:relative}.blog-container .col .post-carousel .item .content .title{width:80%;font-size:40px;line-height:40px;text-align:center;margin:0 auto;font-weight:bold;color:white}.blog-container .col .post-carousel .item .content .vermas{margin:0 auto;margin-top:10px;padding:7px 10px;padding-right:15px;width:120px;border:1px solid white;text-align:center}.blog-container .col .post-carousel .item .content .vermas a{color:white;text-transform:uppercase;font-weight:bold;font-size:12px}.blog-container .col .post-carousel .item .content .vermas span{position:relative}.blog-container .col .post-carousel .item .content .vermas span:before{content:'';width:7px;height:9px;background-image:url(../img/arrow.png);background-size:cover;position:absolute;top:4px;right:-12px;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .post-carousel .item .content .vermas span:hover:before{right:-15px}.blog-container .col .grid{display:-webkit-box;display:-ms-flexbox;display:flex;height:100%;width:100%;background-color:#000;-ms-flex-wrap:wrap;flex-wrap:wrap}.blog-container .col .grid .item{-webkit-box-flex:1;-ms-flex:1 0 50%;flex:1 0 50%;position:relative;padding:1.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;background-size:cover;background-position:center;-webkit-box-sizing:border-box;box-sizing:border-box}.blog-container .col .grid .item .overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.6);mix-blend-mode:darken}.blog-container .col .grid .item .content{position:relative;color:white}.blog-container .col .grid .item .content .title{font-weight:bold;font-size:20px;line-height:20px;width:70%}.blog-container .col .grid .item .content .vermas{position:relative;width:70px;height:19px;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-sizing:border-box;box-sizing:border-box;margin-top:10px}.blog-container .col .grid .item .content .vermas a{font-size:13px;color:white;text-transform:uppercase;font-weight:bold}.blog-container .col .grid .item .content .vermas:before{content:'';width:8px;height:11px;background-image:url(../img/arrow.png);background-size:cover;position:absolute;top:3px;right:5px;-webkit-transition:all 0.1s linear;transition:all 0.1s linear}.blog-container .col .grid .item .content .vermas:hover:before{right:3px}}
=======
@media screen and (min-width: 320px) {
  .mt {
    top: 0;
  }
  .blog.logged_in .blog-container {
    height: calc(100vh);
  }
  .blog-container .col {
    display: block;
  }
  .blog-container .col .post-carousel {
    height: calc(100vh - 68.2031px);
    position: relative;
  }
  .blog-container .col .post-carousel .owl-nav button {
    position: absolute;
    top: calc(50% - 13px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-container .col .post-carousel .owl-nav button img {
    width: 20px;
    opacity: 0.6;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .blog-container .col .post-carousel .owl-nav button.owl-prev {
    left: 10px;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .blog-container .col .post-carousel .owl-nav button.owl-next {
    right: 10px;
  }
  .blog-container .col .post-carousel .owl-nav button:hover {
    background-color: transparent;
  }
  .blog-container .col .post-carousel .owl-nav button:hover img {
    opacity: 1;
  }
  .blog-container .col .post-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .blog-container .col .post-carousel .owl-dots button span {
    background: transparent;
    border: 1px solid white;
  }
  .blog-container .col .post-carousel .owl-dots button.active span {
    background: #fff;
  }
  .blog-container .col .post-carousel .item {
    height: calc(100vh);
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-container .col .post-carousel .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    mix-blend-mode: darken;
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
            box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
  }
  .blog-container .col .post-carousel .item .content {
    position: relative;
  }
  .blog-container .col .post-carousel .item .content .title {
    width: 80%;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    color: white;
  }
  .blog-container .col .post-carousel .item .content .vermas {
    margin: 0 auto;
    margin-top: 10px;
    padding: 7px 10px;
    padding-right: 15px;
    width: 120px;
    border: 1px solid white;
    text-align: center;
  }
  .blog-container .col .post-carousel .item .content .vermas a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }
  .blog-container .col .post-carousel .item .content .vermas span {
    position: relative;
  }
  .blog-container .col .post-carousel .item .content .vermas span:before {
    content: '';
    width: 7px;
    height: 9px;
    background-image: url(../img/arrow.png);
    background-size: cover;
    position: absolute;
    top: 4px;
    right: -12px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .blog-container .col .post-carousel .item .content .vermas span:hover:before {
    right: -15px;
  }
  .blog-container .col .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh);
    width: 100%;
    background-color: #000;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-container .col .grid .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    position: relative;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-size: cover;
    background-position: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .blog-container .col .grid .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: darken;
  }
  .blog-container .col .grid .item .content {
    position: relative;
    color: white;
  }
  .blog-container .col .grid .item .content .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    width: 70%;
  }
  .blog-container .col .grid .item .content .vermas {
    position: relative;
    width: 70px;
    height: 19px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 10px;
  }
  .blog-container .col .grid .item .content .vermas a {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .blog-container .col .grid .item .content .vermas:before {
    content: '';
    width: 8px;
    height: 11px;
    background-image: url(../img/arrow.png);
    background-size: cover;
    position: absolute;
    top: 3px;
    right: 5px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .blog-container .col .grid .item .content .vermas:hover:before {
    right: 3px;
  }
}

@media screen and (min-width: 1024px) {
  header {
    position: relative;
    background: #00cae2;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(4%, #00cae2), color-stop(60%, #00aad0), to(#00aad0));
    background: linear-gradient(0deg, #00cae2 4%, #00aad0 60%, #00aad0 100%);
  }
  .logged_in .mt {
    top: 0px;
  }
  .blog-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 155px - 68.2px - 30px);
  }
  .blog-container .col {
    width: 50%;
  }
  .blog-container .col .post-carousel {
    height: calc(100vh - 155px - 68.2px - 30px);
    position: relative;
  }
  .blog-container .col .post-carousel .owl-nav button {
    position: absolute;
    top: calc(50% - 13px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-container .col .post-carousel .owl-nav button img {
    width: 20px;
    opacity: 0.6;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .blog-container .col .post-carousel .owl-nav button.owl-prev {
    left: 10px;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .blog-container .col .post-carousel .owl-nav button.owl-next {
    right: 10px;
  }
  .blog-container .col .post-carousel .owl-nav button:hover {
    background-color: transparent;
  }
  .blog-container .col .post-carousel .owl-nav button:hover img {
    opacity: 1;
  }
  .blog-container .col .post-carousel .owl-dots {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .blog-container .col .post-carousel .owl-dots button span {
    background: transparent;
    border: 1px solid white;
  }
  .blog-container .col .post-carousel .owl-dots button.active span {
    background: #fff;
  }
  .blog-container .col .post-carousel .item {
    height: calc(100vh - 155px - 68.2px - 30px);
    background-position: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-container .col .post-carousel .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    mix-blend-mode: darken;
    -webkit-box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
            box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
  }
  .blog-container .col .post-carousel .item .content {
    position: relative;
  }
  .blog-container .col .post-carousel .item .content .title {
    width: 80%;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    color: white;
  }
  .blog-container .col .post-carousel .item .content .vermas {
    margin: 0 auto;
    margin-top: 10px;
    padding: 7px 10px;
    padding-right: 15px;
    width: 120px;
    border: 1px solid white;
    text-align: center;
  }
  .blog-container .col .post-carousel .item .content .vermas a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }
  .blog-container .col .post-carousel .item .content .vermas span {
    position: relative;
  }
  .blog-container .col .post-carousel .item .content .vermas span:before {
    content: '';
    width: 7px;
    height: 9px;
    background-image: url(../img/arrow.png);
    background-size: cover;
    position: absolute;
    top: 4px;
    right: -12px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .blog-container .col .post-carousel .item .content .vermas span:hover:before {
    right: -15px;
  }
  .blog-container .col .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #000;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-container .col .grid .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    position: relative;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-size: cover;
    background-position: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .blog-container .col .grid .item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    mix-blend-mode: darken;
  }
  .blog-container .col .grid .item .content {
    position: relative;
    color: white;
  }
  .blog-container .col .grid .item .content .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    width: 70%;
  }
  .blog-container .col .grid .item .content .vermas {
    position: relative;
    width: 70px;
    height: 19px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 10px;
  }
  .blog-container .col .grid .item .content .vermas a {
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .blog-container .col .grid .item .content .vermas:before {
    content: '';
    width: 8px;
    height: 11px;
    background-image: url(../img/arrow.png);
    background-size: cover;
    position: absolute;
    top: 3px;
    right: 5px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .blog-container .col .grid .item .content .vermas:hover:before {
    right: 3px;
  }
}
>>>>>>> c672d6004545af2802eb4eaa79248b256d75ad1b
