<<<<<<< HEAD
.hero-banner .overlay{mix-blend-mode:lighten}.contenedor-items-global{position:relative}.contenedor-items-global .contenedor-item-global{display:none}.contenedor-items-global .contenedor-item-global.active{display:block}.contenedor-items-global .contenedor-items-slider{position:absolute;top:-65px;right:0;padding:0 30px;display:-webkit-box;display:-ms-flexbox;display:flex;z-index:99}.contenedor-items-global .contenedor-items-slider .item-slider{width:127px;height:127px;background-size:cover;background-position:center;margin:0 5px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:5px;border-radius:15px;cursor:pointer}.contenedor-items-global .contenedor-items-slider .item-slider p{color:white;font-size:17px;line-height:17px;margin:0}.contenedor-items-global .contenedor-items-slider .item-slider p strong{font-weight:bold;font-size:24px;line-height:24px}.contenedor-general-cirugias{width:100%;min-height:100vh;padding:75px 0;background-image:url(../img/fondo-cirugias.jpg);background-size:cover;background-position:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:relative}.contenedor-general-cirugias .slider-cirugias{width:85%;height:100%;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.contenedor-general-cirugias .slider-cirugias .cont-img{width:52%;height:100%;padding-left:2%;padding-right:15%}.contenedor-general-cirugias .slider-cirugias .cont-img .img{position:relative;width:auto;display:inline-block}.contenedor-general-cirugias .slider-cirugias .cont-img .img img{width:100%;display:block;position:relative;z-index:1}.contenedor-general-cirugias .slider-cirugias .cont-img .img::before{content:"";width:100%;height:100%;position:absolute;top:-15px;left:-15px;background:#0b7175}.contenedor-general-cirugias .slider-cirugias .cont-img .img::after{content:"";width:100%;height:100%;position:absolute;bottom:-15px;right:-15px;background:white}.contenedor-general-cirugias .slider-cirugias .cont-info{width:48%}.contenedor-general-cirugias .slider-cirugias .cont-info .enc{position:relative;margin-bottom:50px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc p{color:white;margin:0;font-weight:normal;font-size:45px;line-height:45px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc p strong{font-size:66px;line-height:60px;font-weight:bold}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span{position:absolute;left:-12px;top:-74px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p{color:transparent;-webkit-text-stroke-width:.5px;-webkit-text-stroke-color:white;font-size:90px;line-height:90px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p strong{font-size:130px;line-height:120px}.contenedor-general-cirugias .slider-cirugias .cont-info .desc p{color:white;font-size:14px;line-height:24px;margin:0}.contenedor-general-video{width:100%;min-height:100vh;background-image:url(../img/fondo-cirugias-video.jpg);background-size:cover;background-position:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.contenedor-general-video .contenedor-video{width:73%;margin:0 auto;background-image:url(../img/cinta-metrica.png);background-size:91%;background-position:top;background-repeat:no-repeat}.contenedor-general-video .contenedor-video .cont-item{width:73%;margin:0 auto}.contenedor-general-video .contenedor-video .cont-item .media{border:8px solid #0ac4cb;border-radius:25px;overflow:hidden;margin-bottom:55px}.contenedor-general-video .contenedor-video .cont-item .media img{width:100%;display:block}.contenedor-general-video .contenedor-video .cont-item .info p{color:#282828;font-size:15px;line-height:24px;margin:0;text-align:center}.contenedor-general-video .contenedor-video .owl-nav button{outline:none}.contenedor-general-video .contenedor-video .owl-nav button img{width:22px;display:block}.contenedor-general-video .contenedor-video .owl-nav button:hover{background:transparent}.contenedor-general-video .contenedor-video .owl-nav button.owl-prev{position:absolute;top:35%;left:0}.contenedor-general-video .contenedor-video .owl-nav button.owl-next{position:absolute;top:35%;right:0}@media screen and (min-width: 768px) and (max-width: 1023px){.contenedor-general-cirugias .slider-cirugias .cont-info .enc{margin-bottom:20px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc p{font-size:35px;line-height:35px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc p strong{font-size:55px;line-height:45px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span{top:-49px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p{font-size:60px;line-height:60px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p strong{font-size:90px;line-height:80px}.contenedor-general-video .contenedor-video{width:85%}}@media screen and (min-width: 320px) and (max-width: 767px){.contenedor-general-cirugias .slider-cirugias{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.contenedor-general-cirugias .slider-cirugias .cont-img{width:100%;margin:70px 0 50px;padding:7%}.contenedor-general-cirugias .slider-cirugias .cont-info{width:100%}.contenedor-general-cirugias .slider-cirugias .cont-info .enc{margin-bottom:20px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc p{font-size:30px;line-height:30px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc p strong{font-size:45px;line-height:40px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span{top:-30px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p{font-size:45px;line-height:40px}.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p strong{font-size:66px;line-height:70px}.contenedor-items-global .contenedor-items-slider{-ms-flex-wrap:wrap;flex-wrap:wrap}.contenedor-items-global .contenedor-items-slider .item-slider{width:120px;height:90px;margin-bottom:10px}.contenedor-general-video .contenedor-video{width:95%}.contenedor-general-video .contenedor-video .cont-item .media{margin-bottom:30px}}
=======
.hero-banner .overlay {
  mix-blend-mode: lighten;
}

.contenedor-items-global {
  position: relative;
}

.contenedor-items-global .contenedor-item-global {
  display: none;
}

.contenedor-items-global .contenedor-item-global.active {
  display: block;
}

.contenedor-items-global .contenedor-items-slider {
  position: absolute;
  top: -65px;
  right: 0;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
}

.contenedor-items-global .contenedor-items-slider .item-slider {
  width: 127px;
  height: 127px;
  background-size: cover;
  background-position: center;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.contenedor-items-global .contenedor-items-slider .item-slider p {
  color: white;
  font-size: 17px;
  line-height: 17px;
  margin: 0;
}

.contenedor-items-global .contenedor-items-slider .item-slider p strong {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.contenedor-general-cirugias {
  width: 100%;
  min-height: 100vh;
  padding: 75px 0;
  background-image: url(../img/fondo-cirugias.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contenedor-general-cirugias .slider-cirugias {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-cirugias .slider-cirugias .cont-img {
  width: 52%;
  height: 100%;
  padding-left: 2%;
  padding-right: 15%;
}

.contenedor-general-cirugias .slider-cirugias .cont-img .img {
  position: relative;
  width: auto;
  display: inline-block;
}

.contenedor-general-cirugias .slider-cirugias .cont-img .img img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
}

.contenedor-general-cirugias .slider-cirugias .cont-img .img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -15px;
  left: -15px;
  background: #0b7175;
}

.contenedor-general-cirugias .slider-cirugias .cont-img .img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -15px;
  right: -15px;
  background: white;
}

.contenedor-general-cirugias .slider-cirugias .cont-info {
  width: 48%;
}

.contenedor-general-cirugias .slider-cirugias .cont-info .enc {
  position: relative;
  margin-bottom: 50px;
}

.contenedor-general-cirugias .slider-cirugias .cont-info .enc p {
  color: white;
  margin: 0;
  font-weight: normal;
  font-size: 45px;
  line-height: 45px;
}

.contenedor-general-cirugias .slider-cirugias .cont-info .enc p strong {
  font-size: 66px;
  line-height: 60px;
  font-weight: bold;
}

.contenedor-general-cirugias .slider-cirugias .cont-info .enc span {
  position: absolute;
  left: -12px;
  top: -74px;
}

.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p {
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
  font-size: 90px;
  line-height: 90px;
}

.contenedor-general-cirugias .slider-cirugias .cont-info .enc span p strong {
  font-size: 130px;
  line-height: 120px;
}

.contenedor-general-cirugias .slider-cirugias .cont-info .desc p {
  color: white;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.contenedor-general-video {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/fondo-cirugias-video.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-video .contenedor-video {
  width: 73%;
  margin: 0 auto;
  background-image: url(../img/cinta-metrica.png);
  background-size: 91%;
  background-position: top;
  background-repeat: no-repeat;
}

.contenedor-general-video .contenedor-video .cont-item {
  width: 73%;
  margin: 0 auto;
}

.contenedor-general-video .contenedor-video .cont-item .media {
  border: 8px solid #0ac4cb;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 55px;
}

.contenedor-general-video .contenedor-video .cont-item .media img {
  width: 100%;
  display: block;
}

.contenedor-general-video .contenedor-video .cont-item .media video {
  width: 100%;
  display: block;
}

.contenedor-general-video .contenedor-video .cont-item .info p {
  color: #282828;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  text-align: center;
}

.contenedor-general-video .contenedor-video .owl-nav button {
  outline: none;
}

.contenedor-general-video .contenedor-video .owl-nav button img {
  width: 22px;
  display: block;
}

.contenedor-general-video .contenedor-video .owl-nav button:hover {
  background: transparent;
}

.contenedor-general-video .contenedor-video .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
  left: 0;
}

.contenedor-general-video .contenedor-video .owl-nav button.owl-next {
  position: absolute;
  top: 35%;
  right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc {
    margin-bottom: 20px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc p {
    font-size: 35px;
    line-height: 35px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc p strong {
    font-size: 55px;
    line-height: 45px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc span {
    top: -49px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc span p {
    font-size: 60px;
    line-height: 60px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc span p strong {
    font-size: 90px;
    line-height: 80px;
  }
  .contenedor-general-video .contenedor-video {
    width: 85%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contenedor-general-cirugias .slider-cirugias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-img {
    width: 100%;
    margin: 70px 0 50px;
    padding: 7%;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info {
    width: 100%;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc {
    margin-bottom: 20px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc p {
    font-size: 30px;
    line-height: 30px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc p strong {
    font-size: 45px;
    line-height: 40px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc span {
    top: -30px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc span p {
    font-size: 45px;
    line-height: 40px;
  }
  .contenedor-general-cirugias .slider-cirugias .cont-info .enc span p strong {
    font-size: 66px;
    line-height: 70px;
  }
  .contenedor-items-global .contenedor-items-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor-items-global .contenedor-items-slider .item-slider {
    width: 120px;
    height: 90px;
    margin-bottom: 10px;
  }
  .contenedor-general-video .contenedor-video {
    width: 95%;
  }
  .contenedor-general-video .contenedor-video .cont-item .media {
    margin-bottom: 30px;
  }
}
>>>>>>> c672d6004545af2802eb4eaa79248b256d75ad1b
