@media screen and (min-width: 320px) {
  .video-container {
    background-image: url(../img/video-drfraga-bg.jpg);
    background-size: cover;
    min-height: calc(70vh - 106px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5em;
  }
  .video-container .title {
    width: 100%;
    text-align: center;
    font-size: 65px;
    line-height: 65px;
    font-weight: bold;
    padding: 5rem 3rem;
    color: #04a1a9;
  }
  .video-container .video-carousel {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  .video-container .video-carousel .customVideo {
    position: relative;
    z-index: 1;
  }
  .video-container .video-carousel .customVideo video {
    width: 100%;
  }
  .video-container .video-carousel .customVideo img.play {
    position: absolute;
    width: 70px;
    top: calc(50% - 50px);
    left: calc(50% - 35px);
    z-index: 999;
  }
  .video-container .video-carousel .customVideo .overlay {
    position: absolute;
    background-color: rgba(0, 107, 112, 0.5);
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100% - 8px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    mix-blend-mode: darken;
    z-index: 999;
  }
  .video-container .video-carousel .customVideo .overlay:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .video-container .video-carousel .owl-dots button span {
    height: 5px;
    width: 90px;
  }
  .video-container .video-carousel .owl-dots button.active span, .video-container .video-carousel .owl-dots button:hover span {
    background-color: #00a0a8;
  }
}

@media screen and (min-width: 1024px) {
  .video-container {
    background-image: url(../img/video-drfraga-bg.jpg);
    background-size: cover;
    min-height: calc(100vh - 96px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5em;
  }
  .video-container .title {
    width: 100%;
    text-align: center;
    font-size: 65px;
    line-height: 65px;
    font-weight: bold;
    padding: 5rem 3rem;
    color: #04a1a9;
  }
}
