.contenedor-general-galeria {
  width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-general-galeria p.enc {
  color: #67ae3d;
  font-weight: bold;
  font-size: 66px;
  margin: 0 auto;
  position: relative;
  display: table;
}

.contenedor-general-galeria p.enc span {
  position: absolute;
  left: -42%;
  top: -55px;
  font-size: 120px;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #67ae3d;
  opacity: .5;
}

.contenedor-general-galeria .cont-galeria {
  margin-top: 30px;
}

.contenedor-general-galeria .cont-galeria .cont-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 3px;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img {
  width: 23%;
  border: 3px solid #67ae3d;
  margin: 15px 0;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img img {
  width: 100%;
  display: block;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img .mask {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #67ae3d;
  opacity: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  padding: 10px 0;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img .mask p {
  margin: 0;
  color: white;
  font-size: 15px;
  line-height: 18px;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img:hover {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.contenedor-general-galeria .cont-galeria .owl-dots {
  margin-top: 25px !important;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot {
  outline: none;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  background: transparent;
  border: 1px solid #67ae3d;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot.active span {
  background: #67ae3d;
}

.hero-banner {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-banner .content_text {
  width: 67%;
  padding: 0 5%;
  font-size: 22px;
  line-height: 23px;
}

.hero-banner .content_text p {
  margin: 15px 0;
}

@media screen and (min-width: 320px) {
  .video-container {
    background-image: url(../img/video-drfraga-bg.jpg);
    background-size: cover;
    min-height: calc(70vh - 106px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5em;
  }
  .video-container .title {
    width: 100%;
    text-align: center;
    font-size: 65px;
    line-height: 65px;
    font-weight: bold;
    padding: 5rem 3rem;
    color: #04a1a9;
  }
  .video-container .video-carousel {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  .video-container .video-carousel .customVideo {
    position: relative;
    z-index: 1;
  }
  .video-container .video-carousel .customVideo video {
    width: 100%;
  }
  .video-container .video-carousel .customVideo img.play {
    position: absolute;
    width: 70px;
    top: calc(50% - 50px);
    left: calc(50% - 35px);
    z-index: 999;
  }
  .video-container .video-carousel .customVideo .overlay {
    position: absolute;
    background-color: rgba(0, 107, 112, 0.5);
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100% - 8px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    mix-blend-mode: darken;
    z-index: 999;
  }
  .video-container .video-carousel .customVideo .overlay:before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .video-container .video-carousel .owl-dots button span {
    height: 5px;
    width: 90px;
  }
  .video-container .video-carousel .owl-dots button.active span, .video-container .video-carousel .owl-dots button:hover span {
    background-color: #00a0a8;
  }
}

@media screen and (min-width: 1024px) {
  .video-container {
    background-image: url(../img/video-drfraga-bg.jpg);
    background-size: cover;
    min-height: calc(100vh - 96px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 5em;
  }
  .video-container .title {
    width: 100%;
    text-align: center;
    font-size: 65px;
    line-height: 65px;
    font-weight: bold;
    padding: 5rem 3rem;
    color: #04a1a9;
  }
}

.address-container .col {
  padding: 1rem;
  background-position: center;
  background-size: cover;
}

.address-container .col:first-child {
  background-image: url(../img/address-1-blue.jpg);
}

.address-container .col:last-child {
  background-image: url(../img/address-2-blue.jpg);
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .hero-banner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-banner .content_text {
    width: 75%;
    padding: 0 5%;
    font-size: 20px;
    line-height: 22px;
  }
  .hero-banner .content_text p {
    margin: 10px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor-general-galeria p.enc {
    font-size: 52px;
  }
  .contenedor-general-galeria p.enc span {
    top: -22px;
    left: -22%;
    font-size: 74px;
  }
  .hero-banner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-banner .content_text {
    width: 90%;
    padding: 0 5%;
    font-size: 20px;
    line-height: 22px;
  }
  .hero-banner .content_text p {
    margin: 10px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contenedor-general-galeria {
    padding: 30px 0;
  }
  .contenedor-general-galeria p.enc {
    font-size: 52px;
  }
  .contenedor-general-galeria p.enc span {
    top: -22px;
    left: -22%;
    font-size: 74px;
  }
  .contenedor-general-galeria .cont-galeria {
    margin-top: 10px;
  }
  .contenedor-general-galeria .cont-galeria .cont-slide {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor-general-galeria .cont-galeria .cont-slide .cont-img {
    width: 31%;
    margin: 5px 0;
  }
  .contenedor-general-galeria .cont-galeria .cont-slide .cont-img .mask {
    display: none;
  }
  .contenedor-general-galeria .cont-galeria .owl-dots {
    margin-top: 5px !important;
  }
  .video-container .title {
    font-size: 50px;
    line-height: 50px;
  }
  .hero-banner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-banner .content_text {
    width: 92%;
    padding: 0 4%;
    font-size: 17px;
    line-height: 15px;
  }
  .hero-banner .content_text p {
    margin: 10px 0;
  }
}
