<<<<<<< HEAD
.content-dr{min-height:80vh;padding:0 3rem;background-image:url(../img/content-drfr-bg.jpg);background-position:center;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;color:white}.content-dr .content{max-width:530px;width:45%}.content-dr .content .title{font-size:50px;line-height:1;font-weight:100}.content-dr .content .text{margin-top:20px;border-left:2px solid #fff;padding-left:1rem;font-size:28px;line-height:1;font-weight:100}@media screen and (max-width: 768px){.content-dr{min-height:80vh;padding:1rem 1rem;padding-bottom:3rem;background-image:url(../img/content-drfr-bg.jpg);background-position:left;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;color:white}.content-dr .content{max-width:530px;width:95%}.content-dr .content .title{font-size:50px;line-height:1;font-weight:100}.content-dr .content .text{margin-top:20px;border-left:2px solid #fff;padding-left:1rem;font-size:28px;line-height:1;text-align:left;font-weight:100}}
=======
.content-dr {
  min-height: 80vh;
  padding: 0 3rem;
  background-image: url(../img/content-drfr-bg.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
}

.content-dr .content {
  max-width: 530px;
  width: 45%;
}

.content-dr .content .title {
  font-size: 50px;
  line-height: 1;
  font-weight: 100;
}

.content-dr .content .text {
  margin-top: 20px;
  border-left: 2px solid #fff;
  padding-left: 1rem;
  font-size: 28px;
  line-height: 1;
  font-weight: 100;
}
>>>>>>> c672d6004545af2802eb4eaa79248b256d75ad1b
