.content-dr {
  min-height: 80vh;
  padding: 100px 3rem;
  background-image: url(../img/content-drfr-bg.jpg);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.content-dr .content {
  max-width: 530px;
  width: 45%;
}

.content-dr .content .title {
  font-size: 50px;
  line-height: 1;
  font-weight: 100;
}

.content-dr .content .text {
  margin-top: 20px;
  border-left: 2px solid #fff;
  padding-left: 1rem;
  font-size: 28px;
  line-height: 1;
  font-weight: 100;
}

.content-dr .content-image .cont-img {
  position: relative;
}

.content-dr .content-image .cont-img img {
  height: 700px;
  display: block;
  position: relative;
  z-index: 9;
}

.content-dr .content-image .cont-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -15px;
  left: -15px;
  background: #00ffff;
}

.content-dr .content-image .cont-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -15px;
  right: -15px;
  background: #1dc4be;
}

@media screen and (max-width: 1023px) {
  .content-dr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content-dr .content {
    width: 100%;
  }
  .content-dr .content-image {
    width: 85%;
    margin-top: 30px;
  }
  .content-dr .content-image .cont-img img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .content-dr {
    min-height: 80vh;
    padding: 1rem 1rem;
    padding-bottom: 3rem;
    background-image: url(../img/content-drfr-bg.jpg);
    background-position: left;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: white;
  }
  .content-dr .content {
    max-width: 530px;
    width: 95%;
  }
  .content-dr .content .title {
    font-size: 50px;
    line-height: 1;
    font-weight: 100;
  }
  .content-dr .content .text {
    margin-top: 20px;
    border-left: 2px solid #fff;
    padding-left: 1rem;
    font-size: 28px;
    line-height: 1;
    text-align: left;
    font-weight: 100;
  }
}

.address-container .col {
  padding: 1rem;
  background-position: center;
  background-size: cover;
}

.address-container .col:first-child {
  background-image: url(../img/address-1-blue.jpg);
}

.address-container .col:last-child {
  background-image: url(../img/address-2-blue.jpg);
}
