header {
  position: fixed;
  background: transparent;
}

.hero-banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #000;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hero-banner .overlay {
  background-size: cover;
  background-position: center;
  background-image: url(../img/overlay.png);
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  opacity: 0.6;
}

.hero-banner .title {
  color: white;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  border: 1px solid white;
  padding: 15px 15px;
  max-width: 70%;
  position: relative;
  z-index: 1;
}

.hero-banner .content_text {
  width: 90%;
  padding: 0rem;
  color: white;
  font-size: 35px;
  line-height: 35px;
  font-weight: 100;
}

.hero-banner .content_text strong {
  font-size: 45px;
  line-height: 45px;
}

.hero-banner .image_texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hero-banner .image_texto .col {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-banner .image_texto .col:first-child {
  width: 42%;
}

.hero-banner .image_texto .col:last-child {
  width: 58%;
  padding-right: 4rem;
}

.hero-banner .image_texto .col img {
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
}

.hero-banner .image_texto .col h1 {
  font-size: 60px;
  line-height: 1;
  margin: 0;
  margin-bottom: 10px;
}

.hero-banner .image_texto .col h1 small {
  font-size: 30px;
}

.hero-banner .image_texto .col p {
  margin-top: 0;
  font-size: 20px;
}

.hero-banner .image_texto .col a {
  width: 250px;
  padding: 10px;
  padding-right: 40px;
  padding-left: 30px;
  border: 1px solid white;
  color: white;
  font-size: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hero-banner .image_texto .col a:hover {
  background-color: #00a0a8;
}

.hero-banner .image_texto .col a span {
  position: relative;
}

.hero-banner .image_texto .col a span:before {
  content: "";
  width: 7px;
  height: 9px;
  background-image: url(../img/arrow.png);
  background-size: cover;
  position: absolute;
  top: 4px;
  right: -12px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.hero-banner .content_text_contactform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.hero-banner .content_text_contactform .col {
  width: 50%;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.hero-banner .content_text_contactform .col h1 {
  font-size: 40px;
  line-height: 40px;
  padding: 0;
  margin: 15px 0;
}

.hero-banner .content_text_contactform .col p {
  padding: 0;
  margin: 15px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
}

.hero-banner .content_text_contactform .contact-form {
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  width: 50%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.hero-banner .content_text_contactform .contact-form .form .form-control {
  float: left;
  margin-bottom: 20px;
  padding: 0;
}

.hero-banner .content_text_contactform .contact-form .form .form-control label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  display: block;
}

.hero-banner .content_text_contactform .contact-form .form .form-control input {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fefdfd;
}

.hero-banner .content_text_contactform .contact-form .form .form-control input[type="submit"] {
  width: auto;
  background-color: #000;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 25px;
  font-size: 25px;
  cursor: pointer;
}

.hero-banner .content_text_contactform .contact-form .form .form-control input[type="submit"]:hover {
  color: black;
  background-color: #fff;
}

.hero-banner .content_text_contactform .contact-form .form .form-control.full {
  width: 100%;
}

.hero-banner .content_text_contactform .contact-form .form .form-control.half {
  width: 47.5%;
  margin-right: 5%;
}

.hero-banner .content_text_contactform .contact-form .form .form-control.half:nth-of-type(2n + 1) {
  margin-right: 0;
}

.hero-banner .content_text_contactform .contact-form .form .form-control.third {
  width: 30%;
  margin-right: 5%;
}

.hero-banner .content_text_contactform .contact-form .form .form-control.third:nth-of-type(3n) {
  margin-right: 0;
}

.hero-banner .social-media {
  position: absolute;
  right: 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  z-index: 10;
}

.hero-banner .social-media .links {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.hero-banner .social-media .links:before {
  content: "";
  width: 1px;
  height: calc(65vh - 230px);
  background: #fff;
  bottom: 100%;
  position: absolute;
  opacity: 0.5;
}

.hero-banner .social-media .links:after {
  content: "";
  width: 1px;
  height: calc(65vh - 230px);
  background: #fff;
  top: 100%;
  position: absolute;
  opacity: 0.5;
}

.hero-banner .social-media .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  margin: 2.5px 0;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero-banner .social-media .links a img {
  -webkit-transition: inherit;
  transition: inherit;
  width: 24px;
  opacity: 0.6;
}

.hero-banner .social-media .links a:hover {
  background: #00aad0;
}

.hero-banner .social-media .links a:hover img {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .hero-banner .image_texto {
    display: block;
  }
  .hero-banner .image_texto .col {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-banner .image_texto .col:first-child {
    width: 100%;
  }
  .hero-banner .image_texto .col:last-child {
    width: 100%;
    padding: 2rem;
    padding-top: 0;
  }
  .hero-banner .image_texto .col img {
    margin: 0 auto;
    width: 50%;
    max-width: 400px;
  }
  .hero-banner .image_texto .col h1 {
    font-size: 40px;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
  }
  .hero-banner .image_texto .col h1 small {
    font-size: 30px;
  }
  .hero-banner .image_texto .col p {
    margin-top: 0;
    font-size: 20px;
  }
  .hero-banner .image_texto .col a {
    width: 250px;
    padding: 10px;
    padding-right: 40px;
    padding-left: 30px;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .hero-banner .image_texto .col a:hover {
    background-color: #00a0a8;
  }
  .hero-banner .image_texto .col a span {
    position: relative;
  }
  .hero-banner .image_texto .col a span:before {
    content: "";
    width: 7px;
    height: 9px;
    background-image: url(../img/arrow.png);
    background-size: cover;
    position: absolute;
    top: 4px;
    right: -12px;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
}

.single-wrapper {
  background-image: url(../img/single-bg.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 1024px) {
  .hero-banner .image_texto {
    padding: 0 4rem;
  }
  .hero-banner .image_texto .col img {
    width: 90%;
    max-width: 475px;
  }
  .hero-banner .image_texto .col p {
    font-size: 24px;
    line-height: 28px;
  }
  .hero-banner .image_texto .col h1 {
    font-size: 60px;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
  }
  .hero-banner .image_texto .col:first-child {
    width: 45%;
  }
  .hero-banner .image_texto .col:last-child {
    width: 55%;
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
