.hero-banner .overlay {
  mix-blend-mode: lighten;
}

.contenedor-items-global {
  width: 55%;
  height: 76%;
  position: absolute;
  top: 0;
  left: 0;
}

.contenedor-items-global .contenedor-item-global {
  width: 100%;
  height: 100%;
  display: none;
}

.contenedor-items-global .contenedor-item-global.active {
  display: block;
}

.contenedor-general-tenedor {
  position: relative;
}

.contenedor-general-tenedor img {
  width: 100%;
  display: block;
}

.contenedor-general-tenedor .contenedor-info {
  height: 56.5%;
  padding: 0 11%;
  background-image: url(../img/fondo-verde-sistema.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-general-tenedor .contenedor-info .enc {
  position: relative;
  margin-bottom: 50px;
}

.contenedor-general-tenedor .contenedor-info .enc p {
  color: white;
  margin: 0;
  font-weight: normal;
  font-size: 45px;
  line-height: 45px;
}

.contenedor-general-tenedor .contenedor-info .enc p strong {
  font-size: 66px;
  line-height: 60px;
  font-weight: bold;
}

.contenedor-general-tenedor .contenedor-info .enc span {
  position: absolute;
  left: -12px;
  top: -74px;
}

.contenedor-general-tenedor .contenedor-info .enc span p {
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
  font-size: 90px;
  line-height: 90px;
}

.contenedor-general-tenedor .contenedor-info .enc span p strong {
  font-size: 130px;
  line-height: 120px;
}

.contenedor-general-tenedor .contenedor-info .desc p {
  color: white;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.contenedor-general-tenedor .contenedor-general-videos {
  background: white;
  height: 43.5%;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item {
  width: 88%;
  margin: 0 auto;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media {
  border: 8px solid #67ae3d;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 35px;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media img {
  width: 100%;
  display: block;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media video {
  width: 100%;
  display: block;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media img.play {
  position: absolute;
  width: 70px;
  top: calc(50% - 100px);
  left: calc(50% - 35px);
  z-index: 999;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media .overlay {
  display: none;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .info p {
  color: #282828;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .owl-nav button {
  outline: none;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .owl-nav button img {
  width: 22px;
  display: block;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .owl-nav button:hover {
  background: transparent;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
  left: 0;
}

.contenedor-general-tenedor .contenedor-general-videos .contenedor-video .owl-nav button.owl-next {
  position: absolute;
  top: 35%;
  right: 0;
}

.contenedor-general-tenedor .contenedor-items-slider {
  position: absolute;
  top: -65px;
  right: 0;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
}

.contenedor-general-tenedor .contenedor-items-slider .item-slider {
  width: 127px;
  height: 127px;
  background-size: cover;
  background-position: center;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

.contenedor-general-tenedor .contenedor-items-slider .item-slider p {
  color: white;
  font-size: 17px;
  line-height: 17px;
  margin: 0;
}

.contenedor-general-tenedor .contenedor-items-slider .item-slider p strong {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.contenedor-general-galeria {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, white), color-stop(70%, #f3f3f3));
  background-image: linear-gradient(white 30%, #f3f3f3 70%);
}

.contenedor-general-galeria .cont-galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.contenedor-general-galeria .cont-galeria .cont-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 3px;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img {
  width: 19%;
  border: 3px solid #67ae3d;
  margin: 7px 0;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img img {
  width: 100%;
  display: block;
}

.contenedor-general-galeria .cont-galeria .owl-dots {
  margin-top: 25px !important;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot {
  outline: none;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  background: transparent;
  border: 1px solid #67ae3d;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot.active span {
  background: #67ae3d;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contenedor-items-global {
    width: 63%;
  }
  .contenedor-general-tenedor .contenedor-info {
    padding: 0 4%;
  }
  .contenedor-general-tenedor .contenedor-info .desc p {
    line-height: 20px;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item {
    width: 80%;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media {
    margin-bottom: 10px;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .info p {
    font-size: 12px;
    line-height: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor-items-global {
    width: 65%;
  }
  .contenedor-general-tenedor .contenedor-info {
    padding: 0 3%;
  }
  .contenedor-general-tenedor .contenedor-info .enc {
    margin-bottom: 20px;
  }
  .contenedor-general-tenedor .contenedor-info .enc p {
    font-size: 35px;
    line-height: 35px;
  }
  .contenedor-general-tenedor .contenedor-info .enc p strong {
    font-size: 55px;
    line-height: 45px;
  }
  .contenedor-general-tenedor .contenedor-info .enc span {
    top: -49px;
  }
  .contenedor-general-tenedor .contenedor-info .enc span p {
    font-size: 60px;
    line-height: 60px;
  }
  .contenedor-general-tenedor .contenedor-info .enc span p strong {
    font-size: 90px;
    line-height: 80px;
  }
  .contenedor-general-tenedor .contenedor-info .desc p {
    font-size: 12px;
    line-height: 13px;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item {
    width: 80%;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media {
    margin-bottom: 10px;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .info p {
    font-size: 11px;
    line-height: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contenedor-items-global {
    position: relative;
    width: 100%;
  }
  .contenedor-general-tenedor img {
    display: none;
  }
  .contenedor-general-tenedor .contenedor-items-slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contenedor-general-tenedor .contenedor-items-slider .item-slider {
    width: 120px;
    height: 90px;
    margin-bottom: 10px;
  }
  .contenedor-general-tenedor .contenedor-info {
    padding: 150px 5% 50px;
  }
  .contenedor-general-tenedor .contenedor-info .enc {
    margin-bottom: 20px;
  }
  .contenedor-general-tenedor .contenedor-info .enc p {
    font-size: 30px;
    line-height: 30px;
  }
  .contenedor-general-tenedor .contenedor-info .enc p strong {
    font-size: 45px;
    line-height: 40px;
  }
  .contenedor-general-tenedor .contenedor-info .enc span {
    top: -30px;
  }
  .contenedor-general-tenedor .contenedor-info .enc span p {
    font-size: 45px;
    line-height: 40px;
  }
  .contenedor-general-tenedor .contenedor-info .enc span p strong {
    font-size: 66px;
    line-height: 70px;
  }
  .contenedor-general-tenedor .contenedor-info .desc p {
    font-size: 12px;
    line-height: 13px;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video {
    padding: 50px 0;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item {
    width: 75%;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .media {
    margin-bottom: 10px;
  }
  .contenedor-general-tenedor .contenedor-general-videos .contenedor-video .cont-item .info p {
    font-size: 11px;
    line-height: 14px;
  }
  .contenedor-general-galeria {
    padding: 30px 0;
  }
  .contenedor-general-galeria p.enc {
    font-size: 52px;
  }
  .contenedor-general-galeria p.enc span {
    top: -22px;
    left: -22%;
    font-size: 74px;
  }
  .contenedor-general-galeria .cont-galeria {
    margin-top: 10px;
  }
  .contenedor-general-galeria .cont-galeria .cont-slide {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor-general-galeria .cont-galeria .cont-slide .cont-img {
    width: 31%;
    margin: 5px 0;
  }
  .contenedor-general-galeria .cont-galeria .owl-dots {
    margin-top: 5px !important;
  }
}
