.hero-banner .overlay {
  mix-blend-mode: lighten;
}

.contenedor-general-cirugias {
  width: 100%;
  height: 100vh;
  background-image: url(../img/fondo-testimonios2.jpg);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-cirugias .cont-cirugias {
  width: 40%;
  padding-right: 6%;
}

.contenedor-general-cirugias .cont-cirugias p.enc {
  color: white;
  font-weight: bold;
  font-size: 66px;
  margin: 0;
  position: relative;
  margin-bottom: 15px;
}

.contenedor-general-cirugias .cont-cirugias p.enc span {
  position: absolute;
  left: -12px;
  top: -55px;
  font-size: 120px;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
}

.contenedor-general-cirugias .cont-cirugias p.desc {
  color: white;
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}

.contenedor-general-galeria {
  width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-general-galeria p.enc {
  color: #67ae3d;
  font-weight: bold;
  font-size: 66px;
  margin: 0 auto;
  position: relative;
  display: table;
}

.contenedor-general-galeria p.enc span {
  position: absolute;
  left: -42%;
  top: -55px;
  font-size: 120px;
  color: transparent;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #67ae3d;
}

.contenedor-general-galeria .cont-galeria {
  margin-top: 30px;
}

.contenedor-general-galeria .cont-galeria .cont-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 3px;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img {
  width: 23%;
  border: 3px solid #67ae3d;
  margin: 15px 0;
}

.contenedor-general-galeria .cont-galeria .cont-slide .cont-img img {
  width: 100%;
  display: block;
}

.contenedor-general-galeria .cont-galeria .owl-dots {
  margin-top: 25px !important;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot {
  outline: none;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  background: transparent;
  border: 1px solid #67ae3d;
}

.contenedor-general-galeria .cont-galeria .owl-dots .owl-dot.active span {
  background: #67ae3d;
}

.contenedor-general-video {
  width: 100%;
  background-image: url(../img/fondo-testimonios-video.jpg);
  background-size: cover;
  background-position: center;
}

.contenedor-general-video .contenedor-video {
  width: 66%;
  margin: 0 auto;
  background-image: url(../img/cinta-metrica.png);
  background-size: 91%;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor-general-video .contenedor-video .cont-video {
  width: 84%;
  margin: 0 auto;
  padding: 130px 45px;
}

.contenedor-general-video .contenedor-video .cont-video img {
  border-radius: 20px;
  border: 3px solid white;
  width: 100%;
  display: block;
  -webkit-box-shadow: 0px -45px 60px -40px rgba(0, 0, 0, 0.75), 0px 45px 60px -40px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -45px 60px -40px rgba(0, 0, 0, 0.75), 0px 45px 60px -40px rgba(0, 0, 0, 0.75);
}

.contenedor-general-video .contenedor-video .cont-video video {
  border-radius: 20px;
  border: 3px solid white;
  width: 100%;
  display: block;
  -webkit-box-shadow: 0px -45px 60px -40px rgba(0, 0, 0, 0.75), 0px 45px 60px -40px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -45px 60px -40px rgba(0, 0, 0, 0.75), 0px 45px 60px -40px rgba(0, 0, 0, 0.75);
}

.contenedor-general-video .contenedor-video .owl-nav button {
  outline: none;
}

.contenedor-general-video .contenedor-video .owl-nav button img {
  width: 22px;
  display: block;
}

.contenedor-general-video .contenedor-video .owl-nav button:hover {
  background: transparent;
}

.contenedor-general-video .contenedor-video .owl-nav button.owl-prev {
  position: absolute;
  top: 45%;
  left: 0;
}

.contenedor-general-video .contenedor-video .owl-nav button.owl-next {
  position: absolute;
  top: 45%;
  right: 0;
}

.contenedor-general-video .contenedor-video .owl-dots {
  margin-top: 0 !important;
  position: absolute;
  bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contenedor-general-video .contenedor-video .owl-dots .owl-dot {
  outline: none;
}

.contenedor-general-video .contenedor-video .owl-dots .owl-dot span {
  width: 75px;
  height: 6px;
  background: white;
}

.contenedor-general-video .contenedor-video .owl-dots .owl-dot.active span {
  background: #67ae3d;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contenedor-general-cirugias .cont-cirugias p.enc span {
    top: -39px;
    font-size: 105px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor-general-cirugias .cont-cirugias {
    width: 37%;
    padding-right: 2%;
  }
  .contenedor-general-cirugias .cont-cirugias p.enc {
    font-size: 52px;
  }
  .contenedor-general-cirugias .cont-cirugias p.enc span {
    top: -22px;
    font-size: 74px;
  }
  .contenedor-general-galeria p.enc {
    font-size: 52px;
  }
  .contenedor-general-galeria p.enc span {
    top: -22px;
    left: -22%;
    font-size: 74px;
  }
  .contenedor-general-video .contenedor-video {
    width: 75%;
  }
  .contenedor-general-video .contenedor-video .cont-video {
    width: 85%;
  }
  .contenedor-general-video .contenedor-video .owl-dots .owl-dot span {
    width: 50px;
    height: 4px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .contenedor-general-cirugias .cont-cirugias {
    width: auto;
    padding: 0 30px;
  }
  .contenedor-general-cirugias .cont-cirugias p.enc {
    font-size: 52px;
    margin-bottom: 25px;
  }
  .contenedor-general-cirugias .cont-cirugias p.enc span {
    top: -22px;
    font-size: 74px;
  }
  .contenedor-general-galeria {
    padding: 30px 0;
  }
  .contenedor-general-galeria p.enc {
    font-size: 52px;
  }
  .contenedor-general-galeria p.enc span {
    top: -22px;
    left: -22%;
    font-size: 74px;
  }
  .contenedor-general-galeria .cont-galeria {
    margin-top: 10px;
  }
  .contenedor-general-galeria .cont-galeria .cont-slide {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contenedor-general-galeria .cont-galeria .cont-slide .cont-img {
    width: 31%;
    margin: 5px 0;
  }
  .contenedor-general-galeria .cont-galeria .owl-dots {
    margin-top: 5px !important;
  }
  .contenedor-general-video .contenedor-video {
    width: 95%;
  }
  .contenedor-general-video .contenedor-video .cont-video {
    width: 100%;
  }
  .contenedor-general-video .contenedor-video .owl-dots .owl-dot span {
    width: 50px;
    height: 4px;
  }
}
