@media screen and (min-width: 320px) {
    .contact-container {
        background-position: center;
        background-size: cover;
        padding: 4rem 1.047rem;
        background-image: url(../img/contact-bg.jpg);
        color: white;
        .col {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            .content {
                font-size: 30px;
                line-height: 32px;
                font-weight: 100;
                font-family: $font;
            }
            .form {
                .form-control {
                    float: left;
                    margin-bottom: 20px;
                    padding: 0;
                    label {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                        display: block;
                    }
                    input {
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        padding: 10px;
                        box-sizing: border-box;
                        background-color: #fefdfd;
                        &[type=submit] {
                            width: auto;
                            background-color: #000;
                            color: white;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 5px 25px;
                            font-size: 25px;
                            cursor: pointer;
                        }
                    }
                    &.full {
                        width: 100%;
                    }
                    &.half {
                        width: 100%;
                    }
                    &.third {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .contact-container {
        padding: 4rem 3.047rem;
        .col {
            display: flex;
            align-items: center;
            &:last-child {
                justify-content: center;
            }
            .content {
                font-size: 30px;
                line-height: 32px;
                font-weight: 100;
                font-family: $font;
                max-width: 500px;
            }
            .form {
                margin: 0 auto;
                max-width: 500px;
                .form-control {
                    float: left;
                    margin-bottom: 20px;
                    padding: 0;
                    label {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                        display: block;
                    }
                    input {
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        padding: 10px;
                        box-sizing: border-box;
                        background-color: #fefdfd;
                        &[type=submit] {
                            width: auto;
                            background-color: #000;
                            color: white;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 5px 25px;
                            font-size: 25px;
                            transition: $time-transition;
                            cursor: pointer;
                        }
                    }
                    &.full {
                        width: 100%;
                    }
                    &.half {
                        width: 47.5%;
                        margin-right: 5%;
                        &:nth-of-type(2n + 1) {
                            margin-right: 0;
                        }
                    }
                    &.third {
                        width: 30%;
                        margin-right: 5%;
                        &:nth-of-type(3n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .contact-container {
        background-position: center;
        background-size: cover;
        padding: 4rem 3.047rem;
        background-image: url(../img/contact-bg.jpg);
        display: flex;
        justify-content: flex-start;
        color: white;
        .col {
            width: 50%;
            display: flex;
            align-items: center;
            .content {
                font-size: 30px;
                line-height: 32px;
                font-weight: 100;
                font-family: $font;
                padding-right: 1rem;
            }
            .form {
                .form-control {
                    float: left;
                    margin-bottom: 20px;
                    padding: 0;
                    label {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                        display: block;
                    }
                    input {
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        padding: 10px;
                        box-sizing: border-box;
                        background-color: #fefdfd;
                        &[type=submit] {
                            width: auto;
                            background-color: #000;
                            color: white;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 5px 25px;
                            font-size: 25px;
                            transition: $time-transition;
                            cursor: pointer;
                            &:hover {
                                color: black;
                                background-color: #fff;
                            }
                        }
                    }
                    &.full {
                        width: 100%;
                    }
                    &.half {
                        width: 47.5%;
                        margin-right: 5%;
                        &:nth-of-type(2n + 1) {
                            margin-right: 0;
                        }
                    }
                    &.third {
                        width: 30%;
                        margin-right: 5%;
                        &:nth-of-type(3n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}