.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        height: 30px;
        overflow: hidden;
        .item {
            width: 30px;
            margin: 0 3px;
            img {
                width: 100%;
                &.no-hover,
                &.hover {
                    transition: all 0.3s;
                }
            }
        }
        &:hover {
            .item {
                img {
                    &.no-hover {
                        transform: translateY(calc(-100% - 5px));
                    }
                    &.hover {
                        transform: translateY(calc(-100% - 8px));
                    }
                }
            }
        }
    }
}

.wg-contact-container {
    .item {
        display: flex;
        .col {
            display: flex;
            align-items: center;
            padding: 5px;
            img {
                width: 40px;
            }
            span {
                display: block;
                margin: 0;
                padding: 0;
                font-size: 14px;
                font-weight: bold;
                color: $color-text;
                height: 12px;
            }
            a {
                height: 12px;
                margin: 0;
                padding: 0;
                line-height: 12px;
                font-size: 12px;
                text-decoration: none;
                color: $color-text;
                font-weight: 500;
                transition: $time-transition;
                &:hover {
                    color: $color-text-alternate;
                }
            }
        }
    }
}