header {
    position: relative;
    background-color: #000;
}

.blog-container {
    display: flex;
    height: calc(100vh - 155px - 68.2px - 30px);
    .col {
        background: red;
        width: 50%;
        .post-carousel {
            height: calc(100vh - 155px - 68.2px - 30px);
            position: relative;
            .owl-nav {
                position: absolute;
                top: 50%;
                width: 100%;
            }
            .owl-dots {
                position: absolute;
                bottom: 0;
                width: 100%;
            }
            .item {
                height: calc(100vh - 155px - 68.2px - 30px);
                background-position: center;
                background-size: cover;
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(black, 0.5);
                }
            }
        }
        .grid {
            display: flex;
            height: 100%;
            width: 100%;
            background-color: #000;
            flex-wrap: wrap;
            .item {
                flex: 1 0 50%;
                background-color: #fff;
                position: relative;
                &:nth-child(odd) {
                    background-color: blue;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(black, 0.5);
                }
            }
        }
    }
}