@import 'variables';
@import 'fonts';
@import 'customSelect';
* {
    box-sizing: border-box;
    font-family: $font;
}

html,
body {
    margin: 0;
    padding: 0;
}

footer {
    padding: 10px 1.65%;
    padding: 0.591rem 3.047rem;
}

// Contact Form 
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing,
div.wpcf7-response-output {
    border: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    border-bottom: 1px solid red;
    padding-bottom: 10px;
}

div.wpcf7-mail-sent-ok {
    border-bottom: 2px solid white;
}

span.wpcf7-not-valid-tip {
    margin-top: 5px;
    padding-left: 5px;
    color: white;
    border-left: 1px solid red;
    font-size: 12px;
    line-height: 12px;
}

.button-whatsapp {
    position: fixed;
    bottom: 20px;
    z-index: 100;
    right: 30px;
    a {
        img {
            width: 60px;
        }
    }
}

@import 'variables';
@import 'header';
@import 'address_styles';
@import 'contact_styles';
@import 'footer';
@import 'social_widget';