@import 'variables';
@import 'fonts';
@import 'customSelect';
* {
    box-sizing: border-box;
    font-family: $font;
}

html,
body {
    margin: 0;
    padding: 0;
}

footer {
    padding: 10px 1.65%;
    padding: 0.591rem 3.047rem;
}

@import 'variables';
@import 'bascule_mediaqueries';
@import 'header';
@import 'address_styles';
@import 'contact_styles';
@import 'footer';
@import 'social_widget';