@import 'variables';
@import 'fonts';
@import 'customSelect';
* {
    box-sizing: border-box;
    font-family: $font;
}

html,
body {
    margin: 0;
    padding: 0;
}

footer {
    padding: 10px 1.65%;
    padding: 0.591rem 3.047rem;
}

@import 'variables';
@media screen and (min-width: 320px) {
    .address-container {
        .col {
            padding: 1rem;
            background-position: center;
            background-size: cover;
            &:first-child {
                background-image: url(../img/address-cdmx-bg.jpg);
            }
            &:last-child {
                background-image: url(../img/address-mty-bg.jpg);
            }
            .title {
                font-size: 50px;
                line-height: 40px;
                text-transform: uppercase;
                color: white;
                small {
                    font-size: 33px;
                }
            }
            .desc {
                display: flex;
                margin-top: 180px;
                .subcol {
                    color: white;
                    font-size: 16px;
                    line-height: 18px;
                    img {
                        width: 75px;
                        margin-right: 20px;
                    }
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    .contact-container {
        background-position: center;
        background-size: cover;
        padding: 4rem 1.047rem;
        background-image: url(../img/contact-bg.jpg);
        color: white;
        .col {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            .content {
                font-size: 30px;
                line-height: 32px;
                font-weight: 100;
                font-family: $font;
            }
            .form {
                .form-control {
                    float: left;
                    margin-bottom: 20px;
                    padding: 0;
                    label {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                        display: block;
                    }
                    input {
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        padding: 10px;
                        box-sizing: border-box;
                        background-color: #fefdfd;
                        &[type=submit] {
                            width: auto;
                            background-color: #000;
                            color: white;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 5px 25px;
                            font-size: 25px;
                            cursor: pointer;
                        }
                    }
                    &.full {
                        width: 100%;
                    }
                    &.half {
                        width: 100%;
                    }
                    &.third {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .address-container {
        display: flex;
        .col {
            width: 50%;
            padding: 1rem;
            background-position: center;
            background-size: cover;
            &:first-child {
                background-image: url(../img/address-cdmx-bg.jpg);
            }
            &:last-child {
                background-image: url(../img/address-mty-bg.jpg);
            }
            .title {
                font-size: 65px;
                line-height: 1;
                text-transform: uppercase;
                color: white;
                small {
                    font-size: 33px;
                }
            }
            .desc {
                display: flex;
                margin-top: 180px;
                .subcol {
                    color: white;
                    font-size: 16px;
                    line-height: 18px;
                    img {
                        width: 75px;
                        margin-right: 20px;
                    }
                    a {
                        color: white;
                    }
                }
            }
        }
    }
    .contact-container {
        padding: 4rem 3.047rem;
        .col {
            display: flex;
            align-items: center;
            .content {
                font-size: 30px;
                line-height: 32px;
                font-weight: 100;
                font-family: $font;
            }
            .form {
                .form-control {
                    float: left;
                    margin-bottom: 20px;
                    padding: 0;
                    label {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                        display: block;
                    }
                    input {
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        padding: 10px;
                        box-sizing: border-box;
                        background-color: #fefdfd;
                        &[type=submit] {
                            width: auto;
                            background-color: #000;
                            color: white;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 5px 25px;
                            font-size: 25px;
                            transition: $time-transition;
                            cursor: pointer;
                        }
                    }
                    &.full {
                        width: 100%;
                    }
                    &.half {
                        width: 47.5%;
                        margin-right: 5%;
                        &:nth-of-type(2n + 1) {
                            margin-right: 0;
                        }
                    }
                    &.third {
                        width: 30%;
                        margin-right: 5%;
                        &:nth-of-type(3n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .address-container {
        display: flex;
        .col {
            width: 50%;
            padding: 1rem;
            background-position: center;
            background-size: cover;
            &:first-child {
                background-image: url(../img/address-cdmx-bg.jpg);
            }
            &:last-child {
                background-image: url(../img/address-mty-bg.jpg);
            }
            .desc {
                display: flex;
                margin-top: 180px;
                .subcol {
                    color: white;
                    font-size: 16px;
                    line-height: 18px;
                    img {
                        width: 75px;
                        margin-right: 20px;
                    }
                    a {
                        color: white;
                        &:hover {
                            // color: $color-text-alternate;
                        }
                    }
                }
            }
        }
    }
    .contact-container {
        background-position: center;
        background-size: cover;
        padding: 4rem 3.047rem;
        background-image: url(../img/contact-bg.jpg);
        display: flex;
        justify-content: flex-start;
        color: white;
        .col {
            width: 50%;
            display: flex;
            align-items: center;
            .content {
                font-size: 30px;
                line-height: 32px;
                font-weight: 100;
                font-family: $font;
                padding-right: 1rem;
            }
            .form {
                .form-control {
                    float: left;
                    margin-bottom: 20px;
                    padding: 0;
                    label {
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                        display: block;
                    }
                    input {
                        width: 100%;
                        border: none;
                        font-size: 16px;
                        padding: 10px;
                        box-sizing: border-box;
                        background-color: #fefdfd;
                        &[type=submit] {
                            width: auto;
                            background-color: #000;
                            color: white;
                            text-transform: uppercase;
                            font-weight: bold;
                            padding: 5px 25px;
                            font-size: 25px;
                            transition: $time-transition;
                            cursor: pointer;
                            &:hover {
                                color: black;
                                background-color: #fff;
                            }
                        }
                    }
                    &.full {
                        width: 100%;
                    }
                    &.half {
                        width: 47.5%;
                        margin-right: 5%;
                        &:nth-of-type(2n + 1) {
                            margin-right: 0;
                        }
                    }
                    &.third {
                        width: 30%;
                        margin-right: 5%;
                        &:nth-of-type(3n) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@import 'bascule_mediaqueries';
@import 'header';
@import 'footer';
@import 'social_widget';