header {
    position: fixed;
    background: transparent;
}

.hero-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .title {
        color: white;
        font-weight: bold;
        font-size: 60px;
        line-height: 60px;
        border: 1px solid white;
        padding: 15px 30px;
    }
    .social-media {
        position: absolute;
        right: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        z-index: 10;
        .links {
            height: 230px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            &:before {
                content: '';
                width: 1px;
                height: calc(65vh - 230px);
                background: #fff;
                bottom: 100%;
                position: absolute;
                opacity: .5;
            }
            &:after {
                content: '';
                width: 1px;
                height: calc(65vh - 230px);
                background: #fff;
                top: 100%;
                position: absolute;
                opacity: .5;
            }
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 40px;
                text-align: center;
                img {
                    transition: all 0.1s;
                    width: 25px;
                    margin: 2px 0;
                    opacity: 0.6;
                }
                &:hover {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.single-wrapper {
    background-image: url(../img/single-bg.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    padding-bottom: 4rem;
}