.hero-banner {
    .overlay{
        mix-blend-mode: lighten;
    }
}


.contenedor-items-global{
    width: 55%;
    height: 76%;
    position: absolute;
    top: 0;
    left: 0;
    .contenedor-item-global{
        width: 100%;
        height: 100%;
        display: none;

        &.active{
            display: block;
        }
    }
}


.contenedor-general-tenedor{
    position: relative;

    img{
        width: 100%;
        display: block;
    }

    .contenedor-info{
        //width: 55%;
        height: 56.5%;
        padding: 0 11%;
        //position: absolute;
        //top: 0;
        //left: 0;
        background-image: url(../img/fondo-verde-sistema.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p.enc{
            color: white;
            font-size: 66px;
            line-height: 60px;
            margin: 0;
            position: relative;
            margin-bottom: 50px;
            font-weight: bold;
            small{
                font-weight: normal;
                font-size: 45px;
                line-height: 45px;
            }
            span{
                position: absolute;
                left: -12px;
                top: -89px;
                font-size: 130px;
                line-height: 120px;
                color: transparent;
                -webkit-text-stroke-width: .5px;
                -webkit-text-stroke-color: white;
                small{
                    font-size: 90px;
                    line-height: 90px;
                }

            }
        }
        p.desc{
            color: white;
            font-size: 14px;
            line-height: 24px;
            margin: 0;
        }
    }

    .contenedor-general-videos{
        //position: absolute;
        //top: 43%;
        //width: 55%;
        background: white;
        height: 43.5%;

        .contenedor-video{
            display: flex;
            align-items: center;
            height: 100%;

            .cont-item{
                width: 88%;
                margin: 0 auto;
                .media{
                    border: 8px solid #67ae3d;
                    border-radius: 25px;
                    overflow: hidden;
                    margin-bottom: 35px;
                    img{
                        width: 100%;
                        display: block;
                    }
                }
                .info{
                    p{
                        color: #282828;
                        font-size: 15px;
                        line-height: 24px;
                        margin: 0;
                    }
                }
            }
    
            .owl-nav{
                button{
                    outline: none;
                    img{
                        width: 22px;
                        display: block;
                    }
                    &:hover{
                        background: transparent;
                    }
    
                    &.owl-prev {
                        position: absolute;
                        top: 35%;
                        left: 0;
                    }
            
                    &.owl-next {
                        position: absolute;
                        top: 35%;
                        right: 0;
                    }
                }
            }
        }
    }
    .contenedor-items-slider{
        position: absolute;
        top: -65px;
        right: 0;
        padding: 0 30px;
        display: flex;
        z-index: 99;
        .item-slider{
            width: 127px;
            height: 127px;
            background-size: cover;
            background-position: center;
            margin: 0 5px;
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 15px;
            cursor: pointer;
            p{
                color: white;
                font-size: 17px;
                line-height: 17px;
                margin: 0;
                span{
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                }
            }
        }
    }
}



.contenedor-general-galeria{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(white 30%, #f3f3f3 70%);

    .cont-galeria{
        display: flex;
        align-items: center;
        height: 100%;
        width: 90%;
        margin: 0 auto;

        .cont-slide{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .cont-img{
                width: 19%;
                border: 3px solid #67ae3d;
                margin: 7px 0;
                img{
                    width: 100%;
                    display: block;
                }
            }
        }

        .owl-dots{
            margin-top: 25px !important; 
            .owl-dot{
                outline: none;
                span{
                    width: 6px;
                    height: 6px;
                    background: transparent;
                    border: 1px solid #67ae3d;
                }

                &.active{
                    span{
                        background: #67ae3d;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) and (max-width: 1279px){

    .contenedor-items-global{
        width: 63%;
    }

    .contenedor-general-tenedor{ 
        .contenedor-info{
            padding: 0 4%;
            p.desc{
                line-height: 20px;
            }
        }
        .contenedor-general-videos{
            .contenedor-video{
                .cont-item{
                    width: 80%;
                    .media{
                        margin-bottom: 10px;
                    }
                    .info{
                        p{
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px){

    .contenedor-items-global{
        width: 65%;
    }

    .contenedor-general-tenedor{ 
        .contenedor-info{
            padding: 0 3%;
            p.enc{ 
                font-size: 55px;
                line-height: 45px;
                margin-bottom: 20px;
                small{
                    font-size: 35px;
                    line-height: 35px;
                }
                span{
                    font-size: 90px;
                    line-height: 80px;
                    top: -55px;
                    small{
                        font-size: 60px;
                        line-height: 60px;
                    }
                }
            }
            p.desc{
                font-size: 12px;
                line-height: 13px;
            }
        }

        .contenedor-general-videos{
            .contenedor-video{
                .cont-item{
                    width: 80%;
                    .media{
                        margin-bottom: 10px;
                    }
                    .info{
                        p{
                            font-size: 11px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }

}


@media screen and (min-width: 320px) and (max-width: 767px){

    .contenedor-items-global{
        position: relative;
        width: 100%;
    }

    .contenedor-general-tenedor{

        img{
            display: none;
        }

        .contenedor-items-slider{
            flex-wrap: wrap;
            .item-slider{
                width: 120px;
                height: 90px;
                margin-bottom: 10px;
            }
        }

        .contenedor-info{
            padding: 150px 5% 50px;
            p.enc{ 
                font-size: 45px;
                line-height: 40px;
                margin-top: 20px;
                margin-bottom: 30px;
                small{
                    font-size: 30px;
                    line-height: 30px;
                }
                span{
                    font-size: 66px;
                    line-height: 70px;
                    top: -47px;
                    letter-spacing: -3px;
                    small{
                        font-size: 50px;
                        line-height: 40px;
                    }
                }
            }
            p.desc{
                font-size: 12px;
                line-height: 13px;
            }
        }
        .contenedor-general-videos{
            .contenedor-video{
                padding: 50px 0;
                .cont-item{
                    width: 75%;
                    .media{
                        margin-bottom: 10px;
                    }
                    .info{
                        p{
                            font-size: 11px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }


    .contenedor-general-galeria{
        padding: 30px 0; 
        p.enc{
            font-size: 52px; 
            span{
                top: -22px;
                left: -22%;
                font-size: 74px;
            }
        }
        .cont-galeria{
            margin-top: 10px;
            .cont-slide{
                justify-content: space-evenly;
                .cont-img{
                    width: 31%;
                    margin: 5px 0;
                }
            }
            .owl-dots{
                margin-top: 5px !important;
            }
        }
    }

}