.hero-banner {
    .overlay{
        mix-blend-mode: lighten;
    }
}

.contenedor-general-cirugias{
    width: 100%;
    height: 100vh;
    background-image: url(../img/fondo-testimonios2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .cont-cirugias{
        width: 40%;
        padding-right: 6%;
        p.enc{
            color: white;
            font-weight: bold;
            font-size: 66px;
            margin: 0;
            position: relative;
            margin-bottom: 15px;
            span{
                position: absolute;
                left: -12px;
                top: -55px;
                font-size: 120px;
                color: transparent;
                -webkit-text-stroke-width: .5px;
                -webkit-text-stroke-color: white;

            }
        }
        p.desc{
            color: white;
            font-size: 20px;
            line-height: 22px;
            margin: 0;
        }
    }
}



.contenedor-general-galeria{
    width: 85%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p.enc{
        color: #67ae3d;
        font-weight: bold;
        font-size: 66px;
        margin: 0 auto;
        position: relative;
        display: table;
        span{
            position: absolute;
            left: -42%;
            top: -55px;
            font-size: 120px;
            color: transparent;
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: #67ae3d;
        }
    }
    .cont-galeria{
        margin-top: 30px;
        .cont-slide{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .cont-img{
                width: 23%;
                border: 3px solid #67ae3d;
                margin: 15px 0;
                img{
                    width: 100%;
                    display: block;
                }
            }
        }

        .owl-dots{
            margin-top: 25px !important; 
            .owl-dot{
                outline: none;
                span{
                    width: 6px;
                    height: 6px;
                    background: transparent;
                    border: 1px solid #67ae3d;
                }

                &.active{
                    span{
                        background: #67ae3d;
                    }
                }
            }
        }
    }
}


.contenedor-general-video{
    width: 100%;
    background-image: url(../img/fondo-testimonios-video.jpg);
    background-size: cover;
    background-position: center;

    .contenedor-video{
        width: 66%;
        margin: 0 auto;
        background-image: url(../img/cinta-metrica.png);
        background-size: 91%;
        background-position: center;
        background-repeat: no-repeat;
        .cont-video{
            width: 84%;
            margin: 0 auto;
            padding: 130px 45px;
            img{
                border-radius: 20px;
                border: 3px solid white;
                width: 100%;
                display: block;
                box-shadow: 0px -45px 60px -40px rgba(0,0,0,0.75), 0px 45px 60px -40px rgba(0,0,0,0.75);
            }
        }

        .owl-nav{
            button{
                outline: none;
                img{
                    width: 22px;
                    display: block;
                }
                &:hover{
                    background: transparent;
                }

                &.owl-prev {
                    position: absolute;
                    top: 45%;
                    left: 0;
                }
        
                &.owl-next {
                    position: absolute;
                    top: 45%;
                    right: 0;
                }
            }
        }

        .owl-dots{
            margin-top: 0 !important;
            position: absolute;
            bottom: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; 
            .owl-dot{
                outline: none;
                span{
                    width: 75px;
                    height: 6px;
                    background: white;
                }

                &.active{
                    span{
                        background: #67ae3d;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){

    .contenedor-general-cirugias{
        .cont-cirugias{
            p.enc{
                span{
                    top: -39px;
                    font-size: 105px;
                }
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){


    .contenedor-general-cirugias{
        .cont-cirugias{
            width: 37%;
            padding-right: 2%;
            p.enc{
                font-size: 52px; 
                span{
                    top: -22px;
                    font-size: 74px;
                }
            }
        }
    }



    .contenedor-general-galeria{
        p.enc{
            font-size: 52px; 
            span{
                top: -22px;
                left: -22%;
                font-size: 74px;
            }
        }
    }



    .contenedor-general-video {
       .contenedor-video{
            width: 75%;
            .cont-video{
                width: 85%;
            }
            .owl-dots{
                .owl-dot{
                    span{
                     width: 50px;
                     height: 4px;
                    }
                }
            }
       }
    }
   
}


@media screen and (min-width: 320px) and (max-width: 767px){

    .contenedor-general-cirugias{
        .cont-cirugias{
            width: auto;
            padding: 0 30px;
            p.enc{
                font-size: 52px; 
                margin-bottom: 25px;
                span{
                    top: -22px;
                    font-size: 74px;
                }
            }
        }
    }


    .contenedor-general-galeria{
        padding: 30px 0; 
        p.enc{
            font-size: 52px; 
            span{
                top: -22px;
                left: -22%;
                font-size: 74px;
            }
        }
        .cont-galeria{
            margin-top: 10px;
            .cont-slide{
                justify-content: space-evenly;
                .cont-img{
                    width: 31%;
                    margin: 5px 0;
                }
            }
            .owl-dots{
                margin-top: 5px !important;
            }
        }
    }


    .contenedor-general-video {
       .contenedor-video{
            width: 95%;
            .cont-video{
                width: 100%;
            }
            .owl-dots{
                .owl-dot{
                    span{
                     width: 50px;
                     height: 4px;
                    }
                }
            }
       }
    }
    
}